:root{
    --lightblue: lightblue;
}

/* :hover{
    text-decoration: underline;
    color: red;
    background-color: blue;

} */

ul,  li {
    list-style: none;
    list-style-position: outside;
    list-style-type:none;
}
div.h1{
    justify-content: center;
}
button{
    background-color: blanchedalmond;
    color: white;
}

body{
    background-color: var(--lightblue);
}

/* body{
    background-color: lightseagreen;
} */

.container{
    font-size: 30pt;
}